# -----------------------------------------------------------------------
# ------------------------------ supabase  ------------------------------
# -----------------------------------------------------------------------

# SUPABASE_URL=
# SUPABASE_ANON_KEY=
# SUPABASE_SERVICE_ROLE_KEY=
# 
# # Event Decoding (true by default, set to false for Sapphire non-proxy intuitive events)
# ENABLE_EVENT_DECODING=true
